@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cursor-skiing: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='36' height='43' viewport='0 0 100 100' style='fill:black;font-size:22px;'><text y='50%'>⛷️</text></svg>") 16 0,auto;
  --cursor-tennis: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='36' height='43' viewport='0 0 100 100' style='fill:black;font-size:22px;'><text y='50%'>🎾</text></svg>") 16 0,auto;
  --cursor-travel: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='36' height='43' viewport='0 0 100 100' style='fill:black;font-size:22px;'><text y='50%'>✈️</text></svg>") 16 0,auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

a:hover,
a:focus-visible {
  text-decoration-line: underline;
  color: var(--color-indigo-400);
}
