@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cursor-skiing: url("/skier.svg") 10 10, auto;
  --cursor-tennis: url("/tennis.svg") 10 10, auto;
  --cursor-travel: url("/airplane.svg") 10 10, auto;
  --ski-color: var(--color-cyan-400);
  --tennis-color: var(--color-lime-400);
  --travel-color: var(--color-sky-400);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

a:hover,
a:focus-visible,
button:hover,
button:focus-visible,
.interactive-element:hover,
.interactive-element:focus-visible {
  text-decoration-line: underline;
  color: var(--color-indigo-400);
}

@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
}
