.heroText {
    color: #f8f8fa;
    width: fit-content;
}

.heroTitle {
    text-shadow: 3px 3px 1px #b75147;
    text-transform: uppercase;
    font-weight: 650;
}

.heroSubtitle {
    text-shadow: 1px 1px 1px #b75147;
    font-weight: 500;
    font-style: italic;
}